
*{
    padding: 0px;
    margin: 0px;
}
:root
{
    --tillana-cursive-font:'Tillana',cursive;
    --bt-background:#112a5f;
    --border-button:#188088;
    --base-button:#2f2e81;
    --bt-border-radius:10%;
}

body{   
    background-color:#47014d ;
    box-sizing: border-box;
}

header{
    position: relative;
    background-color: #38023b;
    display: flex;
    justify-content: center;
    color:#ffffff; 
}
.over{
    position: absolute;
    z-index: 6;
    height: 100%;
    width: 100%;
    background-color: #000000;
}
.hero{
    padding: 1em 0;
    font-family: var(--tillana-cursive-font);
    font-size: 1.9rem;
    height: 280px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5em;
    transition: .1s;
}
.color-sounds{
    background: linear-gradient(#3d0342,#000000,#ff0000,#000000,#0049e6,#000000,#ffffff,#3d0342);
    background-size: 600vw 3000vh;
    animation-duration: 6s;
    animation-name: color-sounds;
}

@keyframes color-sounds{
    0%{
        background-position-y: 0%;
    }2%{

        background-position-y: 8%;
    }
    8%{
        background-position-y: 8%;
    }20%{
        /* black to red */
        background-position-y: 42.5%;
    }30%{
        background-position-y: 42.5%;
    }38%{
        /* red to blue */
        background-position-y: 72%;
    }42%{
        background-position-y: 72%;
    }45%{
        background-position-y: 90%;
    }50%{
        background-position-y: 90%;
    }
    100%{
        background-position-y: 102%;
    }
}

.logo-bt{
    height: 250px;
    filter: drop-shadow(-5px 5px 5px #242424);
    transition: .05s;
}
.logo-bt:hover{
    cursor: pointer;
    transition: .05s;
    transform: scale(1.05);
}
.info{
    padding: .5em;
    position: absolute;
    top: 0;
    right: 0;
    width:45px;
    opacity: 25%;
    transition: .2s;
}
.info:hover{
    opacity:70%;
}
.modal-info{
    display: none;
    background-color: #ffffff;
    padding: 2em 1em;
    border-radius: 15px 0 15px 15px;
    color:var(--base-button);
    position: absolute;
    top: 50px;
    right:50px;
    width: 150px;
}

.modal-show{
    display: block;
}

main{
 width: 100%;
}

.container{
    width: 100%;
    position: relative;
    max-width: 1124px;
}

.board{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: var(--tillana-cursive-font);
    font-weight: 600;
    font-size: 1em;    
}
 .board-content{
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    row-gap: 3em;
    column-gap: .5em;
    color:#ffffff;
    padding-top: 3em; 
    padding-bottom: 1em;  
} 
.load{
    display: block;
    padding: 2em 0;
    background: url("../img/load.gif") no-repeat center;
    background-size: 100px;
    width: 100%;
    height: 100px;
}
.main p{
    padding: .5em;
    text-align: center;
    color:#ffffff;
    font-size: 3rem;
} 
.bt-cont{
    border-radius: 10px;
    justify-self: center;
    border-radius: var(--bt-border-radius);
    height: 8em;
    width: 8em;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    background-color: var(--base-button);
    border: solid var(--base-button) 8px;
    box-shadow: #310015 -1px 2px 1px 2px;
}

.button-sound{
    font-family: var(--tillana-cursive-font);
    font-weight: 400;
    font-size: 1.3em;
    height: 100%;
    width: 100%;
    border-radius: var(--bt-border-radius);
    box-shadow: #0e1957 -2px 1px 2px 2px;
    border: solid var(--border-button) 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--bt-background);
    color: #ffffff;
    transition: .2s;
}

.button-sound:hover{
    background-color: #003391;
}

.button-sound:active{
    border-radius: var(--bt-border-radius);
    transform: scale(.95);
    background-color: #79beff;
    border-color: #e4f4ff;
    box-shadow: inset 0 0 .10em 0 #12deecff , 0 0 .6em 0 #12deecff;   
    color: #0e1957;
    transition: .1s;
}


footer{
    background-color: #3d0342;
    display: flex;
    justify-content: center;
    padding: 1em 0;
    width: 100%;
    text-align: center;
    line-height: .7em;
    color: #ffffff;
    height: 100%;
    font-family: var(--tillana-cursive-font);
    font-size: 1.2rem;
}
footer p:nth-of-type(2){
    font-size: .7rem;
}
footer a{
    color: #cca3c2;
    text-decoration: none;
}
.modal-info a{
    color: #007281;
    text-decoration: none;
}
.modal-info a:hover{
    color: #00d6a1;
    text-decoration: none;
}
footer a:hover{
    color: #dcdf3c;
}

@media (max-width:768px){
    .container{
        width: 100%;
        max-width: 1124px;
        padding: 0 1em;
    }
    .hero{
        padding: 2em 0;
        font-size: 1em;
        text-align: center;
        flex-direction:column;
        align-items: center;
    }
    .hero img{
        height: auto;
        width: 200px;
        filter: drop-shadow(-5px 5px 5px #242424);
    }
    .board-content{
        width: 100%;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
        row-gap: 3em;
        column-gap: 1.6em;
        color:#ffffff;
    }
    .bt-cont{
        height: 6.5em;
        width: 6.5em;
}
    .button-sound{
        font-weight: 400;
        font-size: .9em;
    }
}