
*{
    padding: 0px;
    margin: 0px;
    /* border: solid red .5px; */
}
:root
{
    --tillana-cursive-font:'Tillana',cursive;
    --bt-background:#112a5f;
    --border-button:#188088;
    --base-button:#2f2e81;
}

body{
    background-color:#47014d ;
    box-sizing: border-box;
}

header{    
    background-color: #3d0342;
    display: flex;
    justify-content: center;
    color:#ffffff; 
}

.hero{
    padding: 1em 0;
    font-family: var(--tillana-cursive-font);
    font-size: 1.9rem;
    height: 280px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5em;
    /* border: solid red 1px; */
}

.hero img{
    height: 250px;
    filter: drop-shadow(-5px 5px 5px #242424);
}

.info{
    padding: .5em;
    position: absolute;
    top: 0;
    right: 0;
    width:45px;
    opacity: 25%;
    transition: .2s;
}
.info:hover{
    opacity:70%;
}
.modal-info{
    display: none;
    background-color: #ffffff;
    padding: 2em 1em;
    border-radius: 15px 0 15px 15px;
    color:var(--base-button);
    position: absolute;
    top: 50px;
    right:50px;
    width: 150px;
}

.modal-show{
    display: block;
}
main{
    display: flex;
    justify-content: center;    
    font-family: var(--tillana-cursive-font);
    font-weight: 600;
    font-size: 1em;        
    margin-top: 1em; 
    margin-bottom: 1em;   
}
.container{
    width: 100%;
    position: relative;
    max-width: 1124px;
}
.board-content{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    row-gap: 3em;
    column-gap: .5em;
    color:#ffffff;
}

.bt-cont{
    border-radius: 10px;
    justify-self: center;
    border-radius: 50%;
    height: 8em;
    width: 8em;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    background-color: var(--base-button);
    border: solid var(--base-button) 8px;
    box-shadow: #310015 -1px 2px 1px 2px;
}

.button-sound{
    font-family: var(--tillana-cursive-font);
    font-weight: 400;
    font-size: 1.3em;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    box-shadow: #0e1957 -2px 1px 2px 2px;
    border: solid var(--border-button) 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--bt-background);
    color: #ffffff;
    transition: .2s;
}

.button-sound:hover{
    background-color: #003391;
}

.button-sound:active{
    border-radius: 50%;
    transform: scale(.95);
    background-color: #79beff;
    border-color: #e4f4ff;
    box-shadow: inset 0 0 .10em 0 #12deecff , 0 0 .6em 0 #12deecff;   
    color: #0e1957;
    transition: .1s;
}

footer{
    background-color: #3d0342;
    display: flex;
    justify-content: center;
    padding: 1em 0;
    width: 100%;
    text-align: center;
    line-height: .7em;
    color: #ffffff;
    height: 100%;
    font-family: var(--tillana-cursive-font);
    font-size: 1.2rem;
}
footer p:nth-of-type(2){
    font-size: .7rem;
}
footer a{
    color: #cca3c2;
    text-decoration: none;
}
footer a:hover{
    color: #dcdf3c;
}

@media (max-width:768px){
    .container{
        width: 100%;
        /* background-color: #65026e; */
        max-width: 1124px;
        padding: 0 1em;
    }
    
    header{
        margin-bottom: 2em;
    }
    .hero{
        padding: 2em 0;
        font-size: 1em;
        text-align: center;
        flex-direction:column;
        align-items: center;
    }
    .hero img{
        height: auto;
        width: 200px;
        filter: drop-shadow(-5px 5px 5px #242424);
    }
    .board-content{
        width: 100%;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
        row-gap: 3em;
        column-gap: 1.6em;
        color:#ffffff;
    }
    .bt-cont{
        height: 6.5em;
        width: 6.5em;
}
    .button-sound{
        font-weight: 400;
        font-size: .9em;
    }
}